~~ This file is part of build-resources.
~~
~~ build-resources is free software: you can redistribute it and/or
~~ modify it under the terms of the GNU General Public License as published by the
~~ Free Software Foundation, either version 3 of the License, or (at your option)
~~ any later version.
~~
~~ build-resources is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
~~ or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~~ more details.
~~
~~ You should have received a copy of the GNU General Public License along with
~~ build-resources. If not, see <http://www.gnu.org/licenses/>.

~~ NOTE: For help with the syntax of this file, see: http://maven.apache.org/doxia/references/apt-format.html

    ------
    Checkstyle Configuration
    ------
    Martin Lau [martin.lau@permeance.com.au]
    ------
    2012-10-08
    ------

Introduction

    This project contains a customised {{{http://checkstyle.sourceforge.net}Checkstyle}} configuration which attempts
    to walk the difficult line between "overly paranoid and won't even pass normal code" and "how the hell does this
    even work".

    The configuration discussed below is open to debate and discussion. If there is anything you feel particularly
    strongly about, {{{${project.issueManagement.url}}open a ticket}}.

* Disabling checks

    Checks can be ignored by using 'CHECKSTYLE.OFF: XXX' and 'CHECKSTYLE.ON: XXX' comments:

-------
public boolean myMethod() {
    try {
        return doSomething();
    }
    // CHECKSTYLE.OFF: EmptyBlock
    catch (Exception e) {};
    // CHECKSTYLE.ON: EmptyBlock
    finally {
        return false;
    }
}
-------

    However, be warned that every time a check is ignored God kills two kittens.

* Included modules

    This configuration includes the following Checkstyle modules and configurations:

** {{{http://checkstyle.sourceforge.net/config_annotation.html}Annotations}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_annotation.html#AnnotationUseStyle}AnnotationUseStyle}}

    * {{{http://checkstyle.sourceforge.net/config_annotation.html#MissingDeprecated}MissingDeprectated}}

    * {{{http://checkstyle.sourceforge.net/config_annotation.html#MissingOverride}MissingOverride}}

    * {{{http://checkstyle.sourceforge.net/config_annotation.html#PackageAnnotation}PackageAnnotation}}

    * {{{http://checkstyle.sourceforge.net/config_annotation.html#SuppressWarnings}SuppressWArnings}}

** {{{http://checkstyle.sourceforge.net/config_blocks.html}Blocks}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_blocks.html#EmptyBlock}EmptyBlock}} with configuration to allow
      commented empty blocks

    * {{{http://checkstyle.sourceforge.net/config_blocks.html#LeftCurly}LeftCurly}} with configuration to allow 200
      character line lengths

    * {{{http://checkstyle.sourceforge.net/config_blocks.html#NeedBraces}NeedBraces}}

    * {{{http://checkstyle.sourceforge.net/config_blocks.html#RightCurly}RightCurly}} with the configuration to force
      right curly braces to be on a new line:

-------
if (something) {
    // do stuff
} // <== note the position of this brace
    else {
// do other stuff
}
-------

    * {{{http://checkstyle.sourceforge.net/config_blocks.html#AvoidNestedBlocks}AvoidNestedBlocks}}

** {{{http://checkstyle.sourceforge.net/config_design.html}Design}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_design.html#VisibilityModifier}VisibilityModifier}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#FinalClass}FinalClass}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#InterfaceIsType}InterfaceIsType}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#HideUtilityClassConstructor}HideUtilityClassConstructor}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#DesignForExtension}DesignForExtension}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#MutableException}MutableException}}}

    * {{{http://checkstyle.sourceforge.net/config_design.html#ThrowsCount}ThrowsCount}}} is configured to allow two
      checked exceptions to be declared

    * {{{http://checkstyle.sourceforge.net/config_design.html#InnerTypeLast}InnerTypeLast}}}

** {{{http://checkstyle.sourceforge.net/config_coding.html}Coding}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_coding.html#CovariantEquals}CovariantEquals}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#EmptyStatement}EmptyStatement}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#EqualsAvoidNull}EqualsAvoidNull}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#EqualsHashCode}EqualsHashCode}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#FinalLocalVariable}FinalLocalVariable}} with
      configuration to explicitly check for final parameters

    * {{{http://checkstyle.sourceforge.net/config_coding.html#HiddenField}HiddenField}} with configuration to allow
      constructors and setters to hide the fields they set

    * {{{http://checkstyle.sourceforge.net/config_coding.html#IllegalInstantiation}IllegalInstantiation}} with
      configuration to exclude explicit creation of:

        * java.lang.Boolean

        * java.lang.String

    * {{{http://checkstyle.sourceforge.net/config_coding.html#InnerAssignment}InnerAssignment}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#MagicNumber}MagicNumber}} with configuration to ignore
      values in annotations and hashcode calculations

    * {{{http://checkstyle.sourceforge.net/config_coding.html#MissingSwitchDefault}MissingSwitchDefault}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#ModifiedControlVariable}ModifiedControlVariable}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#RedundantThrows}RedundantThrows}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#SimplifyBooleanExpression}SimplifyBooleanExpression}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#SimplifyBooleanReturn}SimplifyBooleanReturn}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#StringLiteralEquality}StringLiteralEquality}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#NestedForDepth}NestedForDepth}} with configuration to
      allow two nested for loops

    * {{{http://checkstyle.sourceforge.net/config_coding.html#NestedIfDepth}NestedIfDepth}} with configuration to allow
      two nested if statements

    * {{{http://checkstyle.sourceforge.net/config_coding.html#NestedTryDepth}NestedTryDepth}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#NoFinalizer}NoFinalizer}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#SuperClone}SuperClone}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#IllegalCatch}IllegalCatch}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#IllegalThrows}IllegalThrows}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#PackageDeclaration}PackageDeclaration}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#IllegalType}IllegalType}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#DeclarationOrder}DeclarationOrder}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#ParameterAssignment}ParameterAssignment}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#ExplicitInitialization}ExplicitInitialization}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#DefaultComesLast}DefaultComesLast}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#FallThrough}FallThrough}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#MultipleStringLiterals}MultipleStringLiterals}} with
      configuration to allow two uses of the same string literal

    * {{{http://checkstyle.sourceforge.net/config_coding.html#MultipleVariableDeclarations}MultipleVariableDeclarations}}

    * {{{http://checkstyle.sourceforge.net/config_coding.html#OneStatementPerLine}OneStatementPerLine}}

** {{{http://checkstyle.sourceforge.net/config_duplicates.html}Duplicates}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_duplicates.html#StrictDuplicateCode}StrictDuplicateCode}} with
      configuration to allow 20 lines of text (enough for the standard LGPL license header) before complaining

** {{{http://checkstyle.sourceforge.net/config_imports.html}Imports}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_imports.html#AvoidStarImport}AvoidStarImport}}

    * {{{http://checkstyle.sourceforge.net/config_imports.html#IllegalImport}IllegalImport}}

    * {{{http://checkstyle.sourceforge.net/config_imports.html#RedundantImport}RedundantImport}}

    * {{{http://checkstyle.sourceforge.net/config_imports.html#UnusedImports}UnusedImports}}

    * {{{http://checkstyle.sourceforge.net/config_imports.html#ImportOrder}ImportOrder}} with configuration that forces
      the import order:

        * au.com.permeance.*

        * com.*

        * java.*

        * javax.*

** {{{http://checkstyle.sourceforge.net/config_javadoc.html}Javadoc}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_javadoc.html#JavadocPackage}JavadocPackage}}

    * {{{http://checkstyle.sourceforge.net/config_javadoc.html#JavadocType}JavadocType}}

    * {{{http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod}JavadocMethod}}

    * {{{http://checkstyle.sourceforge.net/config_javadoc.html#JavadocVariable}JavadocVariable}}

    * {{{http://checkstyle.sourceforge.net/config_javadoc.html#JavadocStyle}JavadocStyle}}

** {{{http://checkstyle.sourceforge.net/config_metrics.html}Metrics}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#BooleanExpressionComplexity}BooleanExpressionComplexity}}

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#ClassDataAbstractionCoupling}ClassDataAbstractionCoupling}}

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#ClassFanOutComplexity}ClassFanOutComplexity}}

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#CyclomaticComplexity}CyclomaticComplexity}}

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#NPathComplexity}NPathComplexity}}

    * {{{http://checkstyle.sourceforge.net/config_metrics.html#JavaNCSS}JavaNCSS}}

** {{{http://checkstyle.sourceforge.net/config_misc.html}Miscellaneous}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_misc.html#NewlineAtEndOfFile}NewlineAtEndOfFile}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#Translation}Translation}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#UncommentedMain}UncommentedMain}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#UpperEll}UpperEll}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#ArrayTypeStyle}ArrayTypeStyle}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#FinalParameters}FinalParameters}} with configuration to
      require final parameters on all methods, constructors and catch blocks

    * {{{http://checkstyle.sourceforge.net/config_misc.html#Indentation}Indentation}}

    * {{{http://checkstyle.sourceforge.net/config_misc.html#TrailingComment}TrailingComment}}


    * {{{http://checkstyle.sourceforge.net/config_misc.html#OuterTypeFilename}OuterTypeFilename}}


** {{{http://checkstyle.sourceforge.net/config_modifier.html}Modifiers}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_modifier.html#ModifierOrder}ModifierOrder}}

    * {{{http://checkstyle.sourceforge.net/config_modifier.html#RedundantModifier}RedundantModifier}}

** {{{http://checkstyle.sourceforge.net/config_naming.html}Naming}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_naming.html#AbstractClassName}AbstractClassName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#ClassTypeParameterName}ClassTypeParameterName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#ConstantName}ConstantName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#LocalFinalVariableName}LocalFinalVariableName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#LocalVariableName}LocalVariableName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#MemberName}MemberName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#MethodName}MethodName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#MethodTypeParameterName}MethodTypeParameterName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#PackageName}PackageName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#ParameterName}ParameterName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#StaticVariableName}StaticVariableName}}

    * {{{http://checkstyle.sourceforge.net/config_naming.html#TypeName}TypeName}}

** {{{http://checkstyle.sourceforge.net/config_sizes.html}Sizes}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#FileLength}FileLength}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#ExecutableStatementCount}ExecutableStatementCount}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#LineLength}LineLength}} with configuration to allow a
      maximum line length of 200 characters

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#MethodLength}MethodLength}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#AvoidInnerLength}AvoidInnerLength}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#xAvoidInnerLength}AvoidInnerLength}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#OuterTypeNumber}OuterTypeNumber}}

    * {{{http://checkstyle.sourceforge.net/config_sizes.html#MethodCount}MethodCount}}

** {{{http://checkstyle.sourceforge.net/config_whitespace.html}Whitespace}}

    The following sub-modules are used:

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#FileTabCharacter}FileTabCharacter}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#GenericWhitespace}GenericWhitespace}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#EmptyForInitializerPad}EmptyForInitializerPad}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#EmptyForIteratorPad}EmptyForIteratorPad}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#MethodParamPad}MethodParamPad}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceAfter}NoWhitespaceAfter}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceBefore}NoWhitespaceBefore}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#OperatorWrap}OperatorWrap}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad}ParenPad}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#TypecastParenPad}TypecastParenPad}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#WhitespaceAfter}WhitespaceAfter}}

    * {{{http://checkstyle.sourceforge.net/config_whitespace.html#WhitespaceAround}WhitespaceAround}}

