~~ This file is part of build-resources.
~~
~~ build-resources is free software: you can redistribute it and/or
~~ modify it under the terms of the GNU General Public License as published by the
~~ Free Software Foundation, either version 3 of the License, or (at your option)
~~ any later version.
~~
~~ build-resources is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
~~ or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~~ more details.
~~
~~ You should have received a copy of the GNU General Public License along with
~~ build-resources. If not, see <http://www.gnu.org/licenses/>.

~~ NOTE: For help with the syntax of this file, see: http://maven.apache.org/doxia/references/apt-format.html

    ------
    About
    ------
    Martin Lau [martin.lau@permeance.com.au]
    ------
    2012-10-08
    ------

Welcome to ${project.name}.

* Introduction

    This module provides build-time resources for use by the
    {{{http://permeance.github.com/permeance-parent}permeance-parent}} module. Currently it incorporates both
    {{{http://checkstyle.sourceforge.net}Checkstyle}} and {{{http://pmd.sourceforge.net}PMD}} configuration files.

    See the relevant pages for the {{{./checkstyle.html}Checkstyle}} and {{{./pmd.html}PMD}} specific configuration.

* TODO

    * Include file license header checks as part of checkstyle or equivalent.

    * IDE formatter configurations which match the checkstyle configuration.

    * Confirm that rules which claim to use the "default configuration" actually support configuration (if not, don't
      say so)

* License

    This project is licensed under the
    {{{http://www.gnu.org/licenses/lgpl-3.0.html}GNU Lesser General Public License, Version 3}}
